data/
*.pth
*.png
!images/*.png
*.npy
*.txt
!.gitignore
!requirements.txt
best_models/
test_models/
diff_model.py
traced_model.py
test_torch.py

__pycache__/
*.pyc
SpecUNet.spec
build/
dist/
old/
.idea/

.venv/

.build/
.dist/
*.egg-info/

.DS_Store